In [1]:
import sys

# IT'S 2025 WHY HASN'T SOMEONE FIXED THIS
if ".." not in sys.path:
    sys.path.insert(0, "..")
    
import pandas as pd
import numpy as np
import ast

import tasks.run_helper

In [2]:
df = pd.read_csv(
    "../data/100_annotators.csv",
    converters={"annot_personality_characteristics": ast.literal_eval},
)
df["toxicity"] = df.annotation.apply(lambda x: x[-1]).astype(int)
df["annot_politics"] = df.annot_personality_characteristics.apply(
    lambda x: x[0]
)
df.annot_age = pd.cut(df.annot_age, bins=4)
df.message_id = df.message_id.astype(str)
df["comment_key"] = df.conv_id + df.message_id

df = df.loc[
    :,
    [
        "conv_id",
        "message_id",
        "comment_key",
        "message",
        "toxicity",
        "annot_age",
        "annot_sex",
        "annot_sexual_orientation",
        "annot_demographic_group",
        "annot_current_employment",
        "annot_education_level",
        "annot_politics",
    ],
]
df = df.groupby(["conv_id", "message_id", "comment_key", "message"]).apply(
    lambda x: pd.Series(
        {
            col: x[col].tolist()
            for col in df.columns
            if col not in ["conv_id", "message_id", "comment_key", "message"]
        }
    ),
    include_groups=False,
)
df.head(1)

,,,,toxicity,annot_age,annot_sex,annot_sexual_orientation,annot_demographic_group,annot_current_employment,annot_education_level,annot_politics
conv_id,message_id,comment_key,message,,,,,,,,
250cc245-86c4-4e97-a8ce-31d5d6796f71,-1428289379724132680,250cc245-86c4-4e97-a8ce-31d5d6796f71-1428289379724132680,"well thats a no brainer hillary clinton gave huma abdein a security clearance when she has ties to a known terrorist group the muslim brotherhood, and her mother runs an anti american news paper in the middle east, debbie washed up crook shultz got the awan famaily security clearances and they were recent immigrants, had absolutely no IT experience and possible ties to terrorist groups in pakistan. its pretty clear our liberal ran government is a complete and total failure when it comes to national security. 90% of government employees are liberals, 90% of our government employees are so damn lazy they wont get off their behinds to do the damn job they are hired to do and 90% of government employees allow their personal and political agendaâ€™s to dictate how they do their job and make the decisions they are entrusted to make. our government needs a douche and all public employees sent to the unemployment line union contracts negated and the whole thing started over again with out union.\n","[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...","[(69.75, 88.0], (33.25, 51.5], (69.75, 88.0], ...","[female, non-binary, female, male, male, male,...","[homosexual, straight, straight, straight, bis...","[black, white, asian, other, asian, other, asi...","[blue-collar, white-collar, unemployed, white-...","[university, none, university, none, universit...","[right-wing conservative, right-wing conservat..."

In [3]:
tasks.run_helper.results(
    df,
    discussion_id_col="conv_id",
    sdb_column="annot_age",
    value_col="toxicity",
    comment_key_col="comment_key",
)

,250cc245-86c4-4e97-a8ce-31d5d6796f71,2feee653-15e9-4c38-b7a2-96fe26f50c9f,434ddba0-393a-424d-9c14-4837d454a221,a004f55d-03b1-4058-919a-6e6531aaf32f
"(14.927, 33.25]",0.068198,1.000000,1.0,0.873284
"(33.25, 51.5]",1.000000,0.515457,1.0,1.000000
"(51.5, 69.75]",1.000000,1.000000,1.0,1.000000
"(69.75, 88.0]",1.000000,1.000000,1.0,1.000000

In [4]:
tasks.run_helper.results(
    df,
    discussion_id_col="conv_id",
    sdb_column="annot_sex",
    value_col="toxicity",
    comment_key_col="comment_key",
)

,250cc245-86c4-4e97-a8ce-31d5d6796f71,2feee653-15e9-4c38-b7a2-96fe26f50c9f,434ddba0-393a-424d-9c14-4837d454a221,a004f55d-03b1-4058-919a-6e6531aaf32f
female,1.000000,1.0,1.000000,1.00000
male,1.000000,1.0,1.000000,1.00000
non-binary,0.306827,1.0,0.002722,0.15534

In [5]:
tasks.run_helper.results(
    df,
    discussion_id_col="conv_id",
    sdb_column="annot_demographic_group",
    value_col="toxicity",
    comment_key_col="comment_key",
)

,250cc245-86c4-4e97-a8ce-31d5d6796f71,2feee653-15e9-4c38-b7a2-96fe26f50c9f,434ddba0-393a-424d-9c14-4837d454a221,a004f55d-03b1-4058-919a-6e6531aaf32f
asian,1.0,1.0,0.505939,1.0
black,1.0,1.0,1.000000,1.0
other,1.0,1.0,1.000000,1.0
white,1.0,1.0,1.000000,1.0

In [6]:
tasks.run_helper.results(
    df,
    discussion_id_col="conv_id",
    sdb_column="annot_sexual_orientation",
    value_col="toxicity",
    comment_key_col="comment_key",
)

,250cc245-86c4-4e97-a8ce-31d5d6796f71,2feee653-15e9-4c38-b7a2-96fe26f50c9f,434ddba0-393a-424d-9c14-4837d454a221,a004f55d-03b1-4058-919a-6e6531aaf32f
bisexual,1.0,1.0,0.785105,1.0
homosexual,1.0,1.0,1.000000,1.0
other,1.0,1.0,1.000000,1.0
straight,1.0,1.0,1.000000,1.0

In [7]:
tasks.run_helper.results(
    df,
    discussion_id_col="conv_id",
    sdb_column="annot_current_employment",
    value_col="toxicity",
    comment_key_col="comment_key",
)

,250cc245-86c4-4e97-a8ce-31d5d6796f71,2feee653-15e9-4c38-b7a2-96fe26f50c9f,434ddba0-393a-424d-9c14-4837d454a221,a004f55d-03b1-4058-919a-6e6531aaf32f
blue-collar,0.849262,0.775858,1.0,1.0
unemployed,1.000000,1.000000,1.0,1.0
white-collar,1.000000,1.000000,1.0,1.0

In [8]:
tasks.run_helper.results(
    df,
    discussion_id_col="conv_id",
    sdb_column="annot_education_level",
    value_col="toxicity",
    comment_key_col="comment_key",
)

,250cc245-86c4-4e97-a8ce-31d5d6796f71,2feee653-15e9-4c38-b7a2-96fe26f50c9f,434ddba0-393a-424d-9c14-4837d454a221,a004f55d-03b1-4058-919a-6e6531aaf32f
high-school,1.0,0.986886,1.0,1.0
none,1.0,1.000000,1.0,1.0
university,1.0,0.988573,1.0,1.0

In [9]:
tasks.run_helper.results(
    df,
    discussion_id_col="conv_id",
    sdb_column="annot_politics",
    value_col="toxicity",
    comment_key_col="comment_key",
)

,250cc245-86c4-4e97-a8ce-31d5d6796f71,2feee653-15e9-4c38-b7a2-96fe26f50c9f,434ddba0-393a-424d-9c14-4837d454a221,a004f55d-03b1-4058-919a-6e6531aaf32f
apolitical,1.000000,1.0,1.0,1.000000
left-wing liberal,1.000000,1.0,1.0,1.000000
right-wing conservative,0.615034,1.0,1.0,0.689429