In [1]:
import sys

# IT'S 2025 WHY HASN'T SOMEONE FIXED THIS
if ".." not in sys.path:
    sys.path.insert(0, "..")
    
import pandas as pd
import numpy as np
import ast

import tasks.run_helper

In [2]:
df = pd.read_csv(
    "../data/100_annotators.csv",
    converters={"annot_personality_characteristics": ast.literal_eval},
)
df["toxicity"] = df.annotation.apply(lambda x: x[-1]).astype(int)
df["annot_politics"] = df.annot_personality_characteristics.apply(
    lambda x: x[0]
)
df.annot_age = pd.cut(df.annot_age, bins=4)
df.message_id = df.message_id.astype(str)
df["comment_key"] = df.conv_id + df.message_id

df = df.loc[
    :,
    [
        "conv_id",
        "message_id",
        "comment_key",
        "message",
        "toxicity",
        "annot_age",
        "annot_sex",
        "annot_sexual_orientation",
        "annot_demographic_group",
        "annot_current_employment",
        "annot_education_level",
        "annot_politics",
    ],
]
df = df.groupby(["conv_id", "message_id", "comment_key", "message"]).apply(
    lambda x: pd.Series(
        {
            col: x[col].tolist()
            for col in df.columns
            if col not in ["conv_id", "message_id", "comment_key", "message"]
        }
    ),
    include_groups=False,
)
df["fake_index"] = 1

In [3]:
tasks.run_helper.results(
    df,
    discussion_id_col="fake_index",
    sdb_column="annot_age",
    value_col="toxicity",
    comment_key_col="comment_key",
)

                        1
                    value    pvalue
(69.75, 88.0]   -0.026056  0.800000
(33.25, 51.5]    0.318646  0.816667
(51.5, 69.75]   -0.767677  0.800000
(14.927, 33.25]  0.147710  0.800000

In [4]:
tasks.run_helper.results(
    df,
    discussion_id_col="fake_index",
    sdb_column="annot_sex",
    value_col="toxicity",
    comment_key_col="comment_key",
)

                   1
               value    pvalue
female     -0.233765  0.783333
non-binary  4.233831  0.816667
male       -0.416515  0.783333

In [5]:
tasks.run_helper.results(
    df,
    discussion_id_col="fake_index",
    sdb_column="annot_demographic_group",
    value_col="toxicity",
    comment_key_col="comment_key",
)

              1
          value    pvalue
black  0.544140  0.766667
white  1.045935  0.816667
asian  1.483519  0.800000
other -2.111262  0.783333

In [6]:
tasks.run_helper.results(
    df,
    discussion_id_col="fake_index",
    sdb_column="annot_sexual_orientation",
    value_col="toxicity",
    comment_key_col="comment_key",
)

                   1
               value    pvalue
homosexual -0.577592  0.816667
straight    0.345144  0.783333
bisexual    2.792991  0.800000
other      -3.998708  0.816667

In [7]:
tasks.run_helper.results(
    df,
    discussion_id_col="fake_index",
    sdb_column="annot_current_employment",
    value_col="toxicity",
    comment_key_col="comment_key",
)

                     1
                 value    pvalue
blue-collar  -0.221440  0.816667
white-collar -0.274442  0.783333
unemployed    0.626380  0.800000

In [8]:
tasks.run_helper.results(
    df,
    discussion_id_col="fake_index",
    sdb_column="annot_education_level",
    value_col="toxicity",
    comment_key_col="comment_key",
)

                    1
                value    pvalue
university   0.328597  0.783333
none        -1.962379  0.816667
high-school  0.938195  0.783333

In [9]:
tasks.run_helper.results(
    df,
    discussion_id_col="fake_index",
    sdb_column="annot_politics",
    value_col="toxicity",
    comment_key_col="comment_key",
)

                                1
                            value    pvalue
right-wing conservative  0.646752  0.816667
apolitical              -1.755933  0.783333
left-wing liberal        1.055261  0.783333

In [10]:
df["random"] = df.annot_politics.apply(
    lambda x: [np.random.randint(1, 10) for _ in range(len(x))]
)
tasks.run_helper.results(
    df,
    discussion_id_col="fake_index",
    sdb_column="random",
    value_col="toxicity",
    comment_key_col="comment_key",
)

          1
      value    pvalue
8  0.076943  0.816667
5 -3.062160  0.816667
9  0.251518  0.816667
2  1.353100  0.800000
7  4.398272  0.816667
1 -1.734822  0.816667
3  3.538398  0.866667
6 -1.989700  0.816667
4  0.784838  0.866667