## Synthetic data

In [1]:
%load_ext autoreload 
%autoreload 2

import sys
import ast

import pandas as pd
import numpy as np

# IT'S 2025 WHY HASN'T SOMEONE FIXED THIS
if ".." not in sys.path:
    sys.path.insert(0, "..")
from src import aposteriori

import tasks.run_helper

In [2]:
syn_df = pd.read_csv(
    "../data/synthetic.csv",
    converters={
        "annot_personality_characteristics": ast.literal_eval,
        "Toxicity": ast.literal_eval,
        "Argument Quality": ast.literal_eval,
        "age_annot": ast.literal_eval,
        "sex_annot": ast.literal_eval,
        "sexual_orientation_annot": ast.literal_eval,
        "current_employment_annot": ast.literal_eval,
        "education_level_annot": ast.literal_eval,
    },
)
syn_df["comment_key"] = syn_df.message + syn_df.conv_id
syn_df["fake_index"] = 1

syn_df.Toxicity = syn_df.Toxicity.apply(lambda x: [int(tox) for tox in x])

syn_df.age_annot = syn_df.age_annot.apply(
    lambda ls: [int(x) for x in ls]
).apply(lambda x: pd.cut(x, bins=4))
syn_df

,conv_id,message,intent,Toxicity,Argument Quality,age_user,sex_user,sexual_orientation_user,demographic_group_user,current_employment_user,education_level_user,age_annot,sex_annot,sexual_orientation_annot,demographic_group_annot,current_employment_annot,education_level_annot,comment_key,fake_index
0,028f869d-cf12-444a-aefc-62f8b6294acd,@FitnessJunkie07 Respect and honesty are unive...,"['Neutral', 'Neutral', 'Neutral', 'Neutral', '...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 2, 2, 1, 1, 1, 2, 1, 2, 1, 1]","['25', '25', '25', '25', '25', '25', '25', '25...","['male', 'male', 'male', 'male', 'male', 'male...","['Bisexual', 'Bisexual', 'Bisexual', 'Bisexual...","['Asian', 'Asian', 'Asian', 'Asian', 'Asian', ...","['Software Developer', 'Software Developer', '...","[""Bachelor's"", ""Bachelor's"", ""Bachelor's"", ""Ba...","[(20.956, 32.0], (20.956, 32.0], (20.956, 32.0...","[female, male, male, male, male, male, female,...","[Lesbian, Pansexual, Homosexual, Heterosexual,...","['Arab', 'White', 'Caucasian', 'South Asian', ...","[Poet, Game Developer, Research Scientist, Ret...","[Master's, Some College, Bachelor's, PhD, Mast...",@FitnessJunkie07 Respect and honesty are unive...,1
1,028f869d-cf12-444a-aefc-62f8b6294acd,"@FitnessJunkie07, I agree, but sometimes chang...","['Neutral', 'Neutral', 'Neutral', 'Neutral', '...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]","['27', '27', '27', '27', '27', '27', '27', '27...","['female', 'female', 'female', 'female', 'fema...","['Lesbian', 'Lesbian', 'Lesbian', 'Lesbian', '...","['Arab', 'Arab', 'Arab', 'Arab', 'Arab', 'Arab...","['Poet', 'Poet', 'Poet', 'Poet', 'Poet', 'Poet...","[""Master's"", ""Master's"", ""Master's"", ""Master's...","[(20.956, 32.0], (20.956, 32.0], (20.956, 32.0...","[female, male, male, male, male, male, female,...","[Lesbian, Pansexual, Homosexual, Heterosexual,...","['Arab', 'White', 'Caucasian', 'South Asian', ...","[Poet, Game Developer, Research Scientist, Ret...","[Master's, Some College, Bachelor's, PhD, Mast...","@FitnessJunkie07, I agree, but sometimes chang...",1
2,028f869d-cf12-444a-aefc-62f8b6294acd,"@FitnessJunkie07, I completely agree that resp...","['Community-oriented', 'Community-oriented', '...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2]","['58', '58', '58', '58', '58', '58', '58', '58...","['female', 'female', 'female', 'female', 'fema...","['Heterosexual', 'Heterosexual', 'Heterosexual...","['Hispanic', 'Hispanic', 'Hispanic', 'Hispanic...","['Nonprofit Organizer', 'Nonprofit Organizer',...","[""Bachelor's"", ""Bachelor's"", ""Bachelor's"", ""Ba...","[(20.956, 32.0], (20.956, 32.0], (20.956, 32.0...","[female, male, male, male, male, male, female,...","[Lesbian, Pansexual, Homosexual, Heterosexual,...","['Arab', 'White', 'Caucasian', 'South Asian', ...","[Poet, Game Developer, Research Scientist, Ret...","[Master's, Some College, Bachelor's, PhD, Mast...","@FitnessJunkie07, I completely agree that resp...",1
3,028f869d-cf12-444a-aefc-62f8b6294acd,"@FitnessJunkie07, I understand where you're co...","['Community-oriented', 'Community-oriented', '...","[1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2]","[2, 2, 2, 2, 1, 1, 2, 2, 2, 1, 2]","['58', '58', '58', '58', '58', '58', '58', '58...","['female', 'female', 'female', 'female', 'fema...","['Heterosexual', 'Heterosexual', 'Heterosexual...","['Hispanic', 'Hispanic', 'Hispanic', 'Hispanic...","['Nonprofit Organizer', 'Nonprofit Organizer',...","[""Bachelor's"", ""Bachelor's"", ""Bachelor's"", ""Ba...","[(20.956, 32.0], (20.956, 32.0], (20.956, 32.0...","[female, male, male, male, male, male, female,...","[Lesbian, Pansexual, Homosexual, Heterosexual,...","['Arab', 'White', 'Caucasian', 'South Asian', ...","[Poet, Game Developer, Research Scientist, Ret...","[Master's, Some College, Bachelor's, PhD, Mast...","@FitnessJunkie07, I understand where you're co...",1
4,028f869d-cf12-444a-aefc-62f8b6294acd,@LoyalVolunteer54 @FitnessJunkie07 It's import...,"['Moderator', 'Moderator', 'Moderator', 'Moder...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[(20.956, 32.0], (20.956, 32.0], (20.956, 32.0...","[female, male, male, male, male, male, female,...","[Lesbian, Pansexual, Homosexual, Heterosexual,...","['Arab', 'White', 'Caucasian', 'South Asian', ...","[Poet, Game Developer, Research Scientist, Ret...","[Master's, Some College, Bachelor's, PhD, Mast...",@LoyalVolunteer54 @FitnessJunkie07 It's import...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3543,fe858614-6571-43e7-badf-3cdcb38337b3,"@OptimisticTeacher59, you're cherry-picking st...","['Neutral', 'Neutral', 'Neutral', 'Neutral', '...","[2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[2, 2, 1, 1, 2, 1, 2, 2, 1, 2, 1]","['40', '40', '40', '40', '40', '40', '40', '40...","['female', 'female', 'female', 'female', 'fema...","['Heterosexual', 'Heterosexual', 'Heterosexual...","['Pacific Islander', 'Pacific Islander', 'Paci...","['Travel Blogger', 'Travel Blogger', 'Travel B...","['Some College', 'Some College', 'Some College...","[(54.0, 65.0], (20.956, 32.0], (43.0, 54.0], (...","[male, female, female, male, female, male, non...","[Heterosexual, Lesbian, Heterosexual, Pansexua...","['White', 'Arab', 'Indigenous', 'White', 'Lati...","[Stock Trader, Poet, Botanist, Game Developer,...","[Master's, Master's, Master's, Some College, B...","@OptimisticTeacher59, you're cherry-picking st...",1
3544,fe858614-6571-43e7-badf-3cdcb38337b3,"@OptimisticTeacher59, you're just as bad as @A...","['Troll', 'Troll', 'Troll', 'Troll', 'Troll', ...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]","['35', '35', '35', '35', '35', '35', '35', '35...","['male', 'male', 'male', 'male', 'male', 'male...","['Heterosexual', 'Heterosexual', 'Heterosexual...","['White', 'White', 'White', 'White', 'White', ...","['Crypto Trader', 'Crypto Trader', 'Crypto Tra...","['Some College', 'Some College', 'Some College...","[(54.0, 65.0], (20.956, 32.0], (43.0, 54.0], (...","[male, female, female, male, female, male, non...","[Heterosexual, Lesbian, Heterosexual, Pansexua...","['White', 'Arab', 'Indigenous', 'White', 'Lati...","[Stock Trader, Poet, Botanist, Game Developer,...","[Master's, Master's, Master's, Some College, B...","@OptimisticTeacher59, you're just as bad as @A...",1
3545,fe858614-6571-43e7-badf-3cdcb38337b3,"@StoicSamurai99, you're missing the point. It'...","['Neutral', 'Neutral', 'Neutral', 'Neutral', '...","[2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1]","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]","['40', '40', '40', '40', '40', '40', '40', '40...","['female', 'female', 'female', 'female', 'fema...","['Heterosexual', 'Heterosexual', 'Heterosexual...","['Pacific Islander', 'Pacific Islander', 'Paci...","['Travel Blogger', 'Travel Blogger', 'Travel B...","['Some College', 'Some College', 'Some College...","[(54.0, 65.0], (20.956, 32.0], (43.0, 54.0], (...","[male, female, female, male, female, male, non...","[Heterosexual, Lesbian, Heterosexual, Pansexua...","['White', 'Arab', 'Indigenous', 'White', 'Lati...","[Stock Trader, Poet, Botanist, Game Developer,...","[Master's, Master's, Master's, Some College, B...","@StoicSamurai99, you're missing the point. It'...",1
3546,fe858614-6571-43e7-badf-3cdcb38337b3,"@StoicScholar73, thank you for your kind words...","['Neutral', 'Neutral', 'Neutral', 'Neutral', '...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","['43', '43', '43', '43', '43', '43', '43', '43...","['female', 'female', 'female', 'female', 'fema...","['Heterosexual', 'Heterosexual', 'Heterosexual...","['Black', 'Black', 'Black', 'Black', 'Black', ...","['High School Teacher', 'High School Teacher',...","[""Bachelor's"", ""Bachelor's"", ""Bachelor's"", ""Ba...","[(54.0, 65.0], (20.956, 32.0], (43.0, 54.0], (...","[male, female, female, male, female, male, non...","[Heterosexual, Lesbian, Heterosexual, Pansexua...","['White', 'Arab', 'Indigenous', 'White', 'Lati...","[Stock Trader, Poet, Botanist, Game Developer,...","[Master's, Master's, Master's, Some College, B...","@StoicScholar73, thank you for your kind words...",1
3547,fe858614-6571-43e7-badf-3cdcb38337b3,Nothing in the Bible about Jesus saying anythi...,"['Neutral', 'Neutral', 'Neutral', 'Neutral', '...","[3, 3, 3, 3, 2, 3, 4, 2, 3, 3, 3]","[4, 4, 4, 4, 3, 4, 5, 4, 4, 4, 4]","['43', '43', '43', '43', '43', '43', '43', '43...","['female', 'female', 'female', 'female', 'fema...","['Heterosexual', 'Heterosexual', 'Heterosexual...","['Black', 'Black', 'Black', 'Black', 'Black', ...","['High School Teacher', 'High School Teacher',...","[""Bachelor's"", ""Bachelor's"", ""Bachelor's"", ""Ba...","[(54.0, 65.0], (20.956, 32.0], (43.0, 54.0], (...","[male, female, female, male, female, male, non...","[Heterosexual, Lesbian, Heterosexual, Pansexua...","['White', 'Arab', 'Indigenous', 'White', 'Lati...","[Stock Trader, Poet, Botanist, Game Developer,...","[Master's, Master's, Master's, Some College, B...",Nothing in the Bible about Jesus saying anythi...,1

In [3]:
tasks.run_helper.results(
    syn_df,
    discussion_id_col="fake_index",
    sdb_column="age_annot",
    value_col="Toxicity",
    comment_key_col="comment_key",
)

                       1
                   value    pvalue
(43.0, 54.0]   -0.001695  0.261783
(32.0, 43.0]   -0.008190  0.261783
(20.956, 32.0] -0.003242  0.261783
(54.0, 65.0]    0.005229  0.261783

In [4]:
tasks.run_helper.results(
    syn_df,
    discussion_id_col="fake_index",
    sdb_column="sexual_orientation_annot",
    value_col="Toxicity",
    comment_key_col="comment_key",
)

                     1
                 value pvalue
Homosexual    0.000000    1.0
Lesbian       0.000000    1.0
Pansexual     0.000000    1.0
Heterosexual  0.004119    1.0
Asexual       0.000000    1.0
Bisexual      0.000000    1.0

In [5]:
tasks.run_helper.results(
    syn_df,
    discussion_id_col="fake_index",
    sdb_column="education_level_annot",
    value_col="Toxicity",
    comment_key_col="comment_key",
)

                            1
                        value    pvalue
Bachelor's          -0.002106  0.245180
PhD                  0.006299  0.245180
No formal education  0.000000  1.000000
Some College        -0.007528  0.245180
Master's             0.002967  0.327522

In [6]:
tasks.run_helper.results(
    syn_df,
    discussion_id_col="fake_index",
    sdb_column="current_employment_annot",
    value_col="Toxicity",
    comment_key_col="comment_key",
)

                         1
                     value pvalue
Historian              0.0    1.0
Botanist               0.0    1.0
Poet                   0.0    1.0
Farmer                 0.0    1.0
Stock Trader           0.0    1.0
Cybersecurity Expert   0.0    1.0
Registered Nurse       0.0    1.0
Research Scientist     0.0    1.0
Retired Philosopher    0.0    1.0
Travel Blogger         0.0    1.0
Game Developer         0.0    1.0

In [7]:
tasks.run_helper.results(
    syn_df,
    discussion_id_col="fake_index",
    sdb_column="sex_annot",
    value_col="Toxicity",
    comment_key_col="comment_key",
)

                   1
               value    pvalue
male       -0.000369  0.469206
non-binary  0.000000  1.000000
female     -0.006559  0.469206

In [8]:
syn_df["random"] = syn_df.sex_annot.apply(
    lambda x: [np.random.randint(1, 10) for _ in range(len(x))]
)
tasks.run_helper.results(
    syn_df,
    discussion_id_col="fake_index",
    sdb_column="random",
    value_col="Toxicity",
    comment_key_col="comment_key",
)

          1
      value    pvalue
1 -0.001449  0.089394
2 -0.000668  0.089394
3  0.001654  0.089394
4 -0.000199  0.089394
5  0.001773  0.089394
6  0.003678  0.089394
7 -0.002396  0.089394
8  0.001468  0.089394
9  0.001647  0.089394